@font-face {
  font-family: Renogare;
  src: url("/Renogare-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  font-family: Renogare, sans-serif;
  font-size: 40px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
main {
  width: 100%;
}

#title {
  font-size: xx-large;
}

.timebox {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 5px;
  row-gap: 0px;
}

.timerLabel {
  font-size: small;
}
